* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  height: 100vh;
}

h1 {
  font-size: 4.8rem;
  color: #fff;
  line-height: 20rem;
  text-transform: capitalize;
  text-align: center;
}

.img_bg,
.section_aboutme,
.section_education,
.section_projects,
.section_contact,
footer {
  max-width: 100vw;
}

.main-block {
  width: 100vw;
  max-width: 1024px;
  background: rgba(255, 255, 255, 0.794);
  border-radius: 20px;
  margin: 0 auto;
}

nav {
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 1px solid rgba(91, 91, 91, 0.345);
  border-left: 1px solid rgb(91, 91, 91, 0.345);
  border-right: 1px solid rgb(91, 91, 91, 0.345);
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link {
  font-size: 2rem;
  color: #190f33;
  text-decoration: none;
}

.link:hover {
  color: #5c48d2;
}

.link_header {
  text-transform: capitalize;
}
.body_bg {
  background-image: url("../img/bg.png");
  width: 100vw;
  height: 100vh;
}
.img_bg {
  background: url(../img/computer.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  max-width: 1024px;
}

.section_aboutme {
  width: 100%;
  height: max-content;
  max-width: 1024px;
  background: rgba(255, 255, 255, 0.466);
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.section_aboutme_top {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.photo_profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.section_aboutme_name_and_city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h2 {
  font-size: 3.8rem;
  font-weight: bold;
  color: #190f33;
}

h3 {
  font-size: 3rem;
  color: #190f33;
  font-weight: bold;
}

.h3_italic {
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
}

p {
  font-size: 2rem;
  line-height: 3rem;
  text-align: justify;
}

.section_education {
  width: 100%;
  max-width: 1024px;
  background: #eeeef7bc;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}

.bolded {
  font-weight: bold;
}

.logos {
  height: 100px;
}

.logos_education {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.logos_education > img {
  height: 80px;
}

.section_projects {
  width: 100%;
  background: rgba(255, 255, 255, 0.79);
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.h2_projets {
  margin-bottom: 4rem;
}

.project {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12rem;
}

.img_projects_container {
  position: relative;
}

.img_projects {
  width: 100%;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  width: 50%;
}

.container:hover .img_projects {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #0465aa;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.text_section_projects {
  height: 50%;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title_section_projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.description_and_link_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description_section_projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-left: 2rem;
}

.github_link_container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.github_links_container {
  display: flex;
  flex-direction: column;
}

.github_link_container p {
  font-size: 1.6rem;
}

.icone_link {
  width: 15px;
}

.link_projets {
  font-size: 1.6rem;
  color: #190f33;
  text-decoration: none;
}

.link_projets:hover {
  color: #4f2ea0;
}

h4 {
  font-size: 2.6rem;
  text-transform: capitalize;
  font-weight: bold;
}

h5 {
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: bold;
}

ul li {
  line-height: 3rem;
  font-size: 1.6rem;
}

.section_contact {
  width: 100%;
  max-width: 1024px;
  background: #eeeef7bc;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.contacts_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-top: 7rem;
}

.contact_imgs {
  height: 30px;
  margin-right: 2rem;
}

footer {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  max-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  background-color: #eeeef7fb;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.text_footer {
  line-height: 4rem;
  font-size: 1.6rem;
  color: #565656;
}

.link_footer {
  text-transform: capitalize;
  color: #fcc01a;
  line-height: 4rem;
  font-size: 1.6rem;
}

.link_footer:hover {
  color: #190f33;
}

/* Media Queries */

@media (max-width: 1024px) {
  .section_aboutme,
  .section_education,
  .section_projects,
  .section_contact {
    padding: 5rem;
    align-items: center;
  }
  .section_aboutme_top,
  .project {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  html,
  body {
    overflow-x: hidden;
  }
  .link {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .section_aboutme,
  .section_education,
  .section_projects,
  .section_contact {
    padding: 3rem;
    align-items: center;
  }
  .section_projects {
    padding: 3rem;
    align-items: center;
  }
  .project {
    flex-direction: column;
    gap: 2rem;
  }
  .img_projects {
    height: auto;
    width: 100%;
  }

  h1 {
    font-size: 3.6rem;
    line-height: 12rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.6rem;
  }
  .link {
    font-size: 1.2rem;
  }
  html,
  body {
    overflow-x: hidden;
  }
}
